@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body{
  background-color: #F8E6E9;
}

#cover{
  width: 90%;
  margin-left: 100px;
}


#title{
  width: 10rem;
  margin-top: -90px;
}


/*menu bar*/
nav{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

nav a{
  font-size: 20px;
  color: #0C0105;
  font-family: Marker Felt, fantasy;
  padding: 10px;
  transition: 1s;
  background-color: #F78699;
}

nav a:hover{
  color: white;
}

.flex{
  display:flex;
  width: 100%;
  height: 100%;
  flex-direction:row-reverse;
}

.flex1{
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.flexarea{
  width: 200px;
  height: 100px;
  border-radius: 20px;
  text-align: center;
}
#flex1-1{
  background-color: #DEF2F3;
  margin-top:50px;
  margin-left:50px;
}

#flex1-2{
  background-color: #CDE2F4;
  margin-top:50px;
  margin-left:130px;
}

#flex1-3{
  background-color: #F6E5CA;
  margin-top:80px;
  margin-bottom: 80px;
  margin-left:10px;
}

h2{
  font-size: 30px;
  font-family: Bradley Hand;
}

.flex1 div:hover{
  transition: 1s;
  transform: scaleX(1.2);
}

footer{
  font-size: 20px;
  text-align: center;
  background-color: #809BD4;
  padding-bottom: 80px;
  padding-top: 20px;
  margin-top: 40px;
  font-family: Arial narrow;
}

.titlepic{
  text-align: center;
  position: relative;
  color: white;
  background-color: #A4C6D8;
}

.titleword{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Impact;
  font-size: 40px;
}

/* about me page */
.flexabt{
  display: flex;
  margin: 40px;
  margin: 0px;
}

.flexarea1{
  /* width: 150px;
  height: 150px; */
  border-radius: 20px;
  text-align: center;
}

p{
  background-color: #D2EEF9;
  padding: 50px;
  margin: 30px;
  margin-top: 100px;
  align-self: center;
  font-family: Gill Sans;
  font-size: 25px;
}

#pic1{
  width: 100%;
  height: 100%;
  align-self: center;
  border-radius: 10px;
}

#pic2{
  width: 100%;
  height: 100%;
  align-self: center;
  border-radius: 10px;
}

#pic3{
  width: 300px;
  height: 200px;
  margin: 10px;
}

#pic4{
  width: 155px;
  height: 200px;
  margin: 10px;
}

/* Hobby page */

#titlepic1{
  background-color: #D2D1D1;
}

.grid1{
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.7fr 1fr;
  grid-template-rows: auto;
  margin: 40px;
  margin-top: 100px;
  grid-template-areas:
  "grid1-1 grid1-1 grid1-1 grid1-1"
  "grid1-5 grid1-5 grid1-3 grid1-3"
  "grid1-2 grid1-2 grid1-2 grid1-2"
}

#grid1-1{
  grid-area: grid1-1;
  background-color: #201D1D;
  text-align: center;
  padding: 50px;
  color: white;
}

#grid1-2{
  grid-area: grid1-2;
  background-color: #CD8D8D;
  padding: 30px;
  text-align: center;
}

#grid1-3{
  grid-area: grid1-3;
  background-color: #DDE0E3;
  padding: 30px;
  border: dotted white 10px;
}

#grid1-4{
  grid-area: grid1-4;
  background-color: #B5C6D7;
  padding: 0;
  padding-left: 5px;
}

#grid1-5{
  grid-area: grid1-5;
  background-color: #86847F;
  padding: 30px;
  color: white;
  text-align: center;
}

h3{
  text-align: center;
  font-family: Impact;
  font-size: 30px;
}

#p1{
  background-color: #DDE0E3;
  padding: 12px;
  margin: 0;
  align-self: center;
  font-family: Gill Sans;
}


/* education page */

#titlepic2{
  background-color: #F0CA6C;
}

#h3-1{
  margin-top: 100px;
  background-color: #F7F30A;
}

#p2{
  margin-top: 50px;
  background-color: #F9C463;
}

.pic{
  text-align: center;
}

table{
  width:100%;
  margin-top: 30px;
  background-color: #FBFAE7;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  text-align: center;
}

td{
  border-bottom: 5px solid black;
  padding: 10px;
}

th{
  text-align: center;
}

#table1{
  background-color: #FF8000;
}

li{
  font-size: 20px;
}

.educationword{
  position: absolute;
  margin-left: 40px;
  margin-top: -200px;
  font-family: Impact;
  font-size: 30px;
  color: #FF2700;
  justify-content: center;
}

#educationlink{
  width:10vw;
  justify-content: center;
}
/* #educationword1{
  margin-left: 350px;
} */

/* #educationword2{
  margin-left: 700px;
}

#educationword3{
  margin-left: 1050px;
} */

.educationword:hover{
  color:black;
}

#h4-1{
  padding:100px;
  font-size: 25px;
}
/* sport team page */

#titlepic3{
  background-color: #F65E59;
}

.grid2{
  display: grid;
  height: 600px;
  
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #FBF03F;
  margin-bottom: 100px;
  grid-template-areas:
  "grid2-3 grid2-3 grid2-3 grid2-3"
  "grid2-5 grid2-6 grid2-4 grid2-9"
  "grid2-8 grid2-8 grid2-8 grid2-8"
}

#grid2-1{
  grid-area: grid2-1;
  background-color: #FFAB32;
}

#grid2-2{
  grid-area: grid2-2;
  background-color: #F8D282;

}

#grid2-3{
  grid-area: grid2-3;
  background-color: #F23030;
}

#grid2-4{
  grid-area: grid2-4;
  border: dotted white 10px;
}

#grid2-5{
  grid-area: grid2-5;
  border: dotted white 10px;
}

#grid2-6{
  grid-area: grid2-6;
  border: dotted white 10px;
}

#grid2-7{
  grid-area: grid2-7;
  background-color: #F7B017;
}

#grid2-8{
  grid-area: grid2-8;
  background-color: #F7B017;
  text-align: center;
}

#grid2-9{
  grid-area: grid2-9;
  border: dotted white 10px;
  background-color: #FBF03F;
}

#p3{
  background-color: #F8D282;
  margin: 0;
}

h4{
  font-family: Times New Roman;
  text-align: center;
}

/* work and project page */
#titlepic4{
  background-color: #F6F0F0;
  color: black;
}

.grid3{
  display: grid;
  background-color: #FAF5E9;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "grid3-1 grid3-2 grid3-3 grid3-4 grid3-5"
}

#grid3-1{
  grid-area: grid3-1;
  border: solid black 3px;
  text-align: center;
}

#grid3-2{
  grid-area: grid3-2;
  border: solid black 3px;
  text-align: center;
}

#grid3-3{
  grid-area: grid3-3;
  border: solid black 3px;
  text-align: center;
}

#grid3-4{
  grid-area: grid3-4;
  border: solid black 3px;
  text-align: center;
}

#grid3-5{
  grid-area: grid3-5;
  border: solid black 3px;
  text-align: center;
}

#pic5{
  width: 250px;
  height: 200;
  margin: 10px;
}

a:link{
  color: red;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
}

iframe{
  margin:10px;
}

/* contact page */

.flex4{
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

#titlepic5{
  background-color: #FCA009;
}

#flex2-1{
  background-color: #F99039;
  margin-left:800px;
}

#flex2-2{
  background-color: #38B867;
  margin-right:700px;
}

#flex2-3{
  background-color: #F9F986;
  margin-left:400px;
  width:400px;
}

#flex2-4{
  background-color: #DAFAF7;
  margin-right:600px;
  width:300px;
}

#flex2-5{
  background-color: #27FA6A;
  margin-left:10px;
}

#flex2-6{
  background-color: #FC6F5F;
  margin-left:800px;
}

h5{
  font-size: 15px;
  margin-top: -10px;
}

h5:hover{
  color: #0792F9;
}

#pic6{
  width: 100%;
}

@media only screen and (max-width: 1300px){
  .grid3{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "grid3-1 grid3-2 grid3-3 grid3-4"
    "grid3-5 grid3-5 grid3-5 grid3-5";
  }
}

@media only screen and (max-width: 1100px){
  .flex{
    flex-direction: column;
  }
  #title{
    width: 7em;
  }
  .flexabt{
    flex-direction: column;
  }
  .flex1{
    flex-direction: row;
    flex-wrap: wrap;
  }
  #flex1-2{
    margin-left: 10px;
  }
  .grid1{
    grid-template-columns: 1fr;
    grid-template-areas:
    "grid1-1"
    "grid1-4"
    "grid1-2"
    "grid1-3"
    "grid1-5";
  }
  #h4-1{
    margin:2px;
    padding:0px;
    font-size: 18px;
  }
  #flex2-1{
    margin-left:300px;
  }
  #flex2-2{
    margin-left:400px;
  }
  #flex2-3{
    margin-top: 20px;
    margin-left:90px;
  }
  #flex2-4{
    margin-top:20px;
    margin-left:500px;
  }
  #flex2-5{
    margin-top: 20px;
    margin-left:100px;
  }
  .grid3{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "grid3-1 grid3-1 grid3-1 grid3-4 grid3-4 grid3-4"
    "grid3-2 grid3-2 grid3-3 grid3-3 grid3-5 grid3-5"
  }
  .grid2{
    margin-bottom: 400px;
  }
}

@media only screen and (max-width: 600px){
  #cover{
    width: 80%;
  }
  #title{
    width: 5em;
  }
  nav{
    flex-direction: column;
  }
  .flexabt{
    flex-direction: column;
  }
  .flex1{
    flex-direction: row;
    flex-wrap: wrap;
  }
  #flex1-2{
    margin-left: 10px;
  }
  .grid3{
    grid-template-columns: 1fr;
    grid-template-areas:
    "grid3-1"
    "grid3-2"
    "grid3-3"
    "grid3-4"
    "grid3-5";
  }
}
